body {
	background-color: #FFFFFF;
	color: blue;
	font-size: 1.125em;
	font-weight: normal;
  margin:auto;
}

h1, h2, h3, h4, h5, h6 {
	color: blue;
	font-family: "Times New Roman", Georgia, serif;
}

h1 {	
	font-size: 2rem;
}

p {
	margin-left: 5%;
	margin-right: 5%;
}

hr {
	border: none;
  border-top: dotted #a6a6a4 6px;
  width: 25%;
  margin: 2rem auto;
}

.main-hr {
	border-top: solid #a6a6a4 2px;
	width: 100%;
}

.box {
/*     border: 2px solid green; */
background-color: #efefef;
    display: inline-table;
    position: relative;
    margin: 10px;
		border-radius: 15px;
}

.author {
  color: blue;
  border: 2px inset #d9d9d9;
	border-radius: 8px;
  float: left;
  margin: 1rem 1rem 0.2rem;
  padding: 16px 0;
	font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  min-width: 200px;
}

.city {
  color: #d00;
  font-size: .75rem;
  margin: 0 auto;
}
.list {
	margin-left: 3rem;
}
